/* 清华配色 */
$tsinghua1: #660874;
$tsinghua2: #D93379;
$tsinghua3:#ab6db4;

/* 常用配色 */
$green1:#00BF00;
$green2:#008C00;

$red1:#EB3341;
$red2:#B82834;

$blue1:#009FFF;
$blue2:#007ECC;

$grey1:#f8f8f8;
$grey2:#808080;
$grey3:#CCCCCC;

/* 字体家族 */
$body-font-family: 'Roboto', sans-serif !default;